.headerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -40rem;
  margin-left: -40rem;
}

.logo {
  width: 35rem;
  height: auto;
}
@media (max-width: 900px) {
    .headerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -40rem;
  margin-left: -20rem;
  border: solid 1px #9b1919;
}

.logo {
  width: 25rem;
  height: auto;
}

}
@media (max-width: 600px) {
        .headerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -40rem;
  margin-left: -0rem;
  border: solid 1px #9b1919;
}

.logo {
  width: 20rem;
  height: auto;
}

}