.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url("../../public/bg/bg.png") no-repeat center center fixed;
  background-size: cover;
}

.card {
  margin-left: -70rem;
  background: #FFFFFF24;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(60, 60, 120, 0.12);
  padding: 40px 32px 32px 32px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  /* border: solid 2px red; */
}

.logo {
  width: 120px;
  margin: 0 auto 24px auto;
  display: block;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #fcfcfc;
}

.subtitle {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 24px;
}

.inputWrapper {
  position: relative;
  margin-bottom: 16px;
}
.input::placeholder {
  text-align: center;
  color: #FFFFFFBF;
  /* Optional: adjust color, font, etc. */
}
.input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 2px solid #FFFFFF59;
  border-radius: 25px;
  font-size: 1rem;
  transition: border 0.2s;
  outline: none;
  background: #FFFFFF59;
}

.input:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.input.valid {
  border-color: #22c55e;
}

.input.invalid {
  border-color: #ef4444;
}

.checkmark {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #22c55e;
  font-size: 1.2rem;
}

.button {
  width: 100%;
  padding: 12px;
  background: #FFFFFF59;
  
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, opacity 0.2s;
}

.button:hover:not(.buttonDisabled) {
  background-color: #0056b3;
  transform: translateY(-1px);
}

.button:active:not(.buttonDisabled) {
  transform: translateY(0);
}

.buttonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.error {
  color: #e53935; /* Red color, you can use any color you like */
  font-size: 1rem;
  margin: 8px 0 0 0;
  text-align: right;
}
/* .extraLogoBg {
 
  width:450px;
  margin-top: -40rem;
} */
@media (max-width: 900px) {
 .card {
  margin-left: -30rem;
  background: #0b77be;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(60, 60, 120, 0.12);
  padding: 40px 32px 32px 32px;
  max-width: 300px;
  width: 100%;
  text-align: center;
} 
}
@media (max-width: 600px) {
   .card {
  margin-left: -17rem;
  background: #0b77be;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(60, 60, 120, 0.12);
  padding: 40px 32px 32px 32px;
  max-width: 300px;
  width: 100%;
  text-align: center;
} 
}
@media (max-width: 400px) {
   .card {
  margin-left: -22rem;
  background: #0b77be;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(60, 60, 120, 0.12);
  padding: 40px 32px 32px 32px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  /* border: solid 1px #9b1919; */
} 
}